################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IOStorePak/FileContentIndex/a607a40c-8567-4676-a8dc-d6a67a7211d9.vsidx
